<div class="col-md-6 offset-md-3">
  <h3>Create</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-3 mb-3">
        <label for="">Roll No</label>
        <input
          type="text"
          class="form-control"
          id="rollno"
          [(ngModel)]="student.rollNo"
          name="rollNo"
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="">FirstName</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          [(ngModel)]="student.firstName"
          name="firstName"
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="">LastName</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          [(ngModel)]="student.lastName"
          name="lastName"
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="">Email Id</label>
        <input
          type="text"
          class="form-control"
          id="emailId"
          [(ngModel)]="student.email"
          name="emailId"
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="">Aadhaar</label>
        <input
          type="file"
          class="form-control"
          id="emailId"
          [(ngModel)]="student.aadhaar"
          name="aadhaar"
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="">Pan Id</label>
        <input
          type="text"
          class="form-control"
          id="emailId"
          [(ngModel)]="student.panId"
          name="pan"
        />
      </div>

      <div class="col-md-3">
        <label>Gender</label>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="gender"
            value="Male"
            [(ngModel)]="student.gender"
          />
          <label for="form-check-label">Male</label>
        </div>

        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="gender"
            value="Female"
            [(ngModel)]="student.gender"
          />
          <label class="form-check-label">Female</label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="gender"
            value="Other"
            [(ngModel)]="student.gender"
          />
          <label class="form-check-label">Other</label>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label>Country</label>

        <select
          class="form-control"
          [(ngModel)]="student.country"
          name="country"
          (change)="onCountryChange()"
        >
          <option value="">Select country</option>
          <option *ngFor="let country of countries" [value]="country.name">
            {{ country.name }}
          </option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label>State</label>

        <select
          class="form-control"
          [(ngModel)]="student.state"
          name="state"
          (change)="onStateChange()"
        >
          <option value="">Select state</option>
          <option *ngFor="let state of states" [value]="state.name">{{ state.name }}</option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label>District</label>

        <select class="form-control" [(ngModel)]="student.district" name="district">
          <option value="">Select district</option>
          <option *ngFor="let district of districts" [value]="districts">{{ district }}</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-success mt-3">Save Student</button>
  </form>
</div>
