
.signup-background{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-width{
  width: 100%;
}
.title{
  text-align: center;
}
.signup-card{
  margin: 5%;
  padding: 5%;
}